
@import "variables";
@media only screen and (min-width:1024px){
    main{
        background-color: $color-principal;
        height: 90hv;
        img:hover{
            opacity: 50%;
        }
        .home{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: (10% 18% 70%);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
                h1 { grid-area: 1 / 1 / 2 / 2; }
                h2 { grid-area: 2 / 1 / 3 / 2; }
                .contenido { grid-area: 3 / 1 / 4 / 2;
                font-size: 24px; }
                .imagen { grid-area: 1 / 2 / 4 / 3; }
                    img{
                        @include medidas(100%, 100%);
                    }
                h1, h2, .contenido{
                    text-align: right;
                }
        }
        .planteo{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: (6% 13% 44% 30%);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            h1 { grid-area: 1 / 1 / 2 / 3; }
            h2 { grid-area: 2 / 1 / 3 / 3; }
            img { grid-area: 3 / 1 / 4 / 2; }
            .planteo-1 {grid-area: 3 / 2 / 4 / 3; }
            .planteo-2 {grid-area: 4 / 1 / 5 / 3;}    
                    img{
                        @include medidas(100%, 100%);
                    }
                h1, h2 {
                    text-align: left;
                }
                .planteo-1, .planteo-2{
                    text-align: justify;
                    margin-left: 10px;
                    font-size: 20px;
                }
        }
        .justificacion{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: (10% 85%);
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            .h1 { 
                grid-area: 1 / 1 / 2 / 3; 
            }
            .contenido { 
                grid-area: 2 / 1 / 3 / 2; 
                text-align: justify;
                font-size: 18px;
            }
            img { 
                grid-area: 2 / 2 / 3 / 3; 
                @include medidas(100%, 100%);
                }
        }
        .objeto{
            display: none;
        }
            .icono{
                @include medidas(16px, 16px)
            }
            .icono:hover{
                @include medidas(30px, 30px)
            }
            .estado-cuestion{
                @include medidas(100%, 100%);
            }
        .marco{
            display: grid;
            margin: 0px 10px 17px 10px;
            grid-template-columns: (42% 58%);
            grid-template-rows: (10% 49% 49%);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            h1 { grid-area: 1 / 1 / 2 / 3; }
            img { grid-area: 2 / 1 / 3 / 2; }
            .marco-1 { grid-area: 2 / 2 / 3 / 3; }
            .marco-2 { grid-area: 3 / 1 / 4 / 3; }  
            text-align: justify;
            font-size: 110%;
        }
        .estado{
            display: grid;
            grid-template-columns: (40% 60%);
            grid-template-rows: (10% 50% 35%);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            h1 { grid-area: 1 / 1 / 2 / 3; }
            img { 
                object-fit:contain;
                grid-area: 2 / 1 / 3 / 2; }
            .estado-1 { grid-area: 2 / 2 / 3 / 3; }
            .estado-2 { grid-area: 3 / 1 / 4 / 3; }  
            text-align: justify;
            font-size: 120%;
        }
        .contacto{
            display: grid;
            grid-template-columns: (30% 69%);
            grid-template-rows: (8% 10% 10%);
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            ul { 
                grid-area: 1 / 1 / 2 / 3;
                display: flex;
                justify-content: center;
                gap: 50px;
                font-size: 20px;
                .icono{
                    @include medidas (30px, 30px)
                }
                li:hover{
                    font-size: 30px;
                }
            }
            h1 { grid-area: 2 / 1 / 3 / 2; }
            h2{ display: none;}
            form {
                grid-area: 3 / 1 / 4 / 2;
                font-size: 14px;
                .nombre{
                    margin-right:120px;
                    width: 300px;}
                .email{
                    margin-right:120px;
                    width: 300px;
                }
                .telefono{
                    margin-right:120px;
                    width: 300px;
                }
                .mensaje{width: 300px;}
            }
            iframe { grid-area: 2 / 2 / 4 / 3; 
            @include medidas(95%, 380%)
            }
        }
    }
    footer{
        width: 100%;
        margin-top: 5px;
    }
}